// Color Palette
$black: #000;
$white: #fff;
$blue: #1989fa;
$red: #ee0a24;
$green: #33c0af;
$orange: #ff976a;
$gray-1: #606060;
$gray-2: #e1e6eb;

// Button
$button-default: $gray-1;
$button-primary: $green;
$button-info: $blue;
$button-danger: $red;
$button-warning: $orange;

// Border
$border-color: $gray-2;
$border-width-base: 1px;
$border-radius-mini: 4px;
$border-radius-larRange: 25px;
